body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}
  
a {
  text-decoration: none;
}
  
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header*/
.index-header,
.inner-header {
  background-color: #eeeeee;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 50px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-navigation-item {
  display: block;
  padding-right: 48px;
}

.main-navigation-item:last-child {
  padding-right: 0;
}

.main-navigation a,
.basket {
  display: block;
  padding-bottom: 5px; 
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-bottom: 14px; 
}

.main-navigation .navigation-active,
.basket .navigation-active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation  a:hover,
.main-navigation  a:focus,
.basket:hover,
.basketa:focus {
  color: #fb565a;
}

.main-navigation  a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket {
  padding-left: 40px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.inner-title {
  display: block;
  text-align: center;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 106px;
  margin: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

.slider-title {
  max-width: 520px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 16px; 
}

.slider-text {
  margin: 0;
  padding: 0; 
  max-width: 420px;
  padding-top: 10px;
  padding-bottom: 38px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item {
  display: none;
}

.button-slider {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 16px 48px;
  width: 145px;
  border-radius: 2px;
  text-align: center;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;  
  padding-right: 60px; 
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
  padding-top: 150px; 
}

.service-item:nth-child(1) {
  background-image: url("../img/advantage-picture-red.png");
  background-repeat: no-repeat;
}

.service-item:nth-child(2) {
  background-image: url("../img/advantage-picture-green.png");
  background-repeat: no-repeat;
}

.service-item:nth-child(3) {
  background-image: url("../img/advantage-picture-yellow.png");
  background-repeat: no-repeat;
}

.service-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;  
  margin: 0;
  padding: 0;
  padding-top: 20px; 
  padding-bottom: 10px; 
}

.service-text {
  margin: 0;
  padding: 0;
  padding-top: 10px; 
  padding-bottom: 30px; 
  width: 250px;
}

.service-button {
  display: block;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  width: 90px;
  padding: 17px 35px;
  border-radius: 2px;
  text-align: center;
}

.service-item:nth-child(1) .service-button {
  background-color: #fb565a;
}

.service-item:nth-child(2) .service-button {
  background-color: #00ca74;
}

.service-item:nth-child(3) .service-button {
  background-color: #efc84a;
}

.service-item:nth-child(1) .service-button:hover,
.service-item:nth-child(1) .service-button:focus {
  background-color: #e74246;
}

.service-item:nth-child(1) .service-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(2) .service-button:hover,
.service-item:nth-child(2) .service-button:focus {
  background-color: #00bc6c;
}

.service-item:nth-child(2) .service-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(3) .service-button:hover,
.service-item:nth-child(3) .service-button:focus {
  background-color: #eab534;
}

.service-item:nth-child(3) .service-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-as {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0;
  border-bottom: 2px solid #eeeeee;
}

.slogan {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  width: 670px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 15px;
}

.about-as-text {
  width: 630px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px; 
}

.assortment {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 10px; 
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.assortment-list {
  margin: 0;
  padding: 0;
  padding-bottom: 35px; 
  list-style: none;
}

.assortment-item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
}

.assortment-item:last-child {
  padding-bottom: 0;
}

.portfolio {
  padding-top: 45px;
  padding-bottom: 40px;  
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Футер*/
.contacts {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  min-height: 416px; 
  padding-top: 54px;
}

.adress {
  position: relative;
  padding: 47px 50px;
  background-color: #ffffff;
  width: 220px;
}

.adress-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.adress p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: #666666;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.adress-button {
  display: block;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  padding: 17px 35px;
  border-radius: 2px;
  text-align: center;
  background-color: #fb565a;
  margin-top: 21px;
}

.adress-button:hover,
.adress-button:focus {
  background-color: #e74246;
}

.adress-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-footer {
  display: flex;
  padding-top: 69px;
  padding-bottom: 69px;
}

.social-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
}

.social-button-link {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-button-link:hover,
.social-button-link:focus {
  background-color: #e74246;
}

.social-button-link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.discount-block {
  padding-left: 140px;
}

.discount-slogan {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  padding-bottom: 10px;
}

.discount-text {
  padding: 0;
  margin: 0;
  line-height: 22px;
  color: #444444;
}