body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}
  
a {
  text-decoration: none;
}
  
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header*/
.index-header,
.inner-header {
  background-color: #eeeeee;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 50px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.main-navigation-item {
  display: block;
  padding-right: 48px;
}

.main-navigation-item:last-child: {
  padding-right: 0;
}

.main-navigation a,
.basket {
  display: block;
  padding-bottom: 5px; 
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin-bottom: 14px; 
}

.main-navigation .navigation-active,
.basket .navigation-active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation  a:hover,
.main-navigation  a:focus,
.basket:hover,
.basketa:focus {
  color: #fb565a;
}

.main-navigation  a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket {
  padding-left: 40px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.inner-title {
  display: block;
  text-align: center;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 106px;
  margin: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

.slider-title {
  max-width: 520px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 16px; 
}

.slider-text {
  margin: 0;
  padding: 0; 
  max-width: 420px;
  padding-top: 10px;
  padding-bottom: 38px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item {
  display: none;
}

.button-slider {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 16px 48px;
  width: 145px;
  border-radius: 2px;
  text-align: center;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);

}

